.input-container {
  display: flex;
  flex-direction: column;
}

.input-container:not(:last-child) {
  margin-bottom: 10px;
}

.input-container__label {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 500;
}

.input-container__input {
  padding: 6px 12px;
  display: block;
  font-size: 1.4rem;
  border: 1px solid transparent;
  border-bottom: 1px solid #a75d5d;
}

.input-container__input:focus {
  border: 1px solid transparent;
  border-bottom: 1px solid #a75d5d;
  outline: 0;
}

.input-container__input:hover,
.input-container__input:active {
  border: 1px solid #a75d5d;
  transition: border 0.2s;
}
