.list {
  background-color: #ffc3a180;
  padding: 3rem 2rem;
  border-radius: 12px;
  box-shadow: 0 2px #00000010;
  position: relative;
  flex: 1;
}

.list__empty {
  padding: 20px;
  font-size: 1.8rem;
}

.list__title {
  margin-bottom: 2rem;
}

.list:not(:last-child) {
  margin-bottom: 2rem;
}

.list__display-all {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: linear-gradient(0deg, #ffc3a1 50%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
